<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>pageTitle</title>
		<!-- build:remove:dev -->
		<link rel="stylesheet" href="assets/css/all.min.css">
		<!-- /build -->
		<!-- build:remove:dist -->
		<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="libs/slick-carousel/slick/slick.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/sprites.css">
		<link rel="stylesheet" href="assets/fonts/fonts.css">
		<!-- /build -->
	</head>
	<body>
		<header>
			<div class="header">
				<nav>
					<ul class="header__list">
						<li><a href="#">link1</a>
						</li>
						<li><a href="#">link2</a>
						</li>
						<li><a href="#">link3</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<section>
			<input type="checkbox" checked>
		</section>
		<footer>
			<div id="content"></div>
		</footer>
		<!-- build:remove:dev -->
		<script src="assets/js/all.min.js"></script>
		<!-- /build -->
		<!-- build:remove:dist -->
		<script src="libs/jquery/dist/jquery.min.js"></script>
		<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="assets/js/build.js"></script>
		<!-- /build -->
	</body>

</html>