<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
	<!-- build:remove:dev -->
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <!-- /build -->

    <!-- build:remove:dist -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="libs/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" href="libs/datetimepicker/build/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/sprites.css"/>
    <link rel="stylesheet" href="assets/css/sprites-arrow.css"/>
    <link rel="stylesheet" href="assets/fonts/fonts.css"/>
    
    <!-- /build -->
</head>
<body>
<section>
    <header>

    </header>
    <section>
        
    </section>
    
    <footer>
        
    </footer>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="background">
                <form action="POST" class="row">
                    <input type="name" placeholder="имя">
                    <input type="phone" placeholder="телефон">
                    <input id="datetimepicker" type="text" placeholder="Дата и время">
                    <input type="text" placeholder="тип видео">
                    <button type="submit" name="do_login">Отправить заявку</button>
                </form>

          </div>
        </div>
      </div>
    </div>
</section>
	<!-- build:remove:dev -->
    <script src="assets/js/all.min.js"></script>
    <!-- /build -->

    <!-- build:remove:dist --> 
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/tether/dist/js/tether.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    
    <script src="assets/js/build.js"></script>

    <!-- /build -->
</body>
</html>	