head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width")
	title pageTitle
	= '\n'
	<!-- build:remove:dev -->
	link(rel="stylesheet" href="assets/css/all.min.css")
	= '\n'
	<!-- /build -->
	<!-- build:remove:dist -->
	link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-grid.min.css")
	link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
	link(rel="stylesheet" href="assets/css/main.css")
	link(rel="stylesheet" href="assets/css/sprites.css")
	link(rel="stylesheet" href="assets/fonts/fonts.css")
	= '\n'
	<!-- /build -->