/* import css file for custom style */

/* --------------------Scroll to Top button ----------------------- */
a#back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  overflow: hidden;
  width: 27px;
  height: 27px;
  background: url("../../../assets/img/basic/scroll_top_button.png") left top no-repeat;
  text-decoration: none;
  text-indent: -99999px;
}
a:hover#back-to-top {
  background-position: left bottom;
}
