section.grid-list
  .container
    #products.row.list-group
      each val in [1, 2, 3]
        +first-deco(val)
    .row
      .col-xs-12.col-sm-4
        h1
        div(id="app")
      .col-xs-12.col-sm-4
        h2 Something
      .col-xs-12.col-sm-4
        h3 Something
      div(style!="background-image:url('<?php echo '1'; ?>');")
      .svg-man.svg-man-dims
      :php
        echo 'PHP'; 
