body
  include _header
  include _section
  include _footer
  include _modal
  
  = '\n'
  <!-- build:remove:development -->
  script(async src="js/all.min.js")
  <!-- /build -->
  = '\n'
  <!-- build:remove:production --> 
  <!-- bower:js -->
  <!-- endbower -->
  = '\n'
  script(src="assets/js/build.js")
  = '\n'
  <!-- /build -->
