head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width")
  title pageTitle
  = '\n'
  <!-- build:remove:development -->
  script(type='text/javascript').
      function loadCSS(hf) {
          var ms=document.createElement("link");ms.rel="stylesheet";
          ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
      }
      loadCSS("css/all.min.css");
  noscript
    link(rel="stylesheet" href="css/all.min.css")
  = '\n'
  <!-- /build -->
  <!-- build:remove:production -->
  <!-- bower:css -->
  <!-- endbower -->
  = '\n'
  link(rel="stylesheet" href="assets/css/src/less.css")
  link(rel="stylesheet" href="assets/css/src/sass.css")
  link(rel="stylesheet" href="assets/css/src/stylus.css")
  link(rel="stylesheet" href="assets/css/sprites_png.css")
  link(rel="stylesheet" href="assets/css/sprite.css")
  link(rel="stylesheet" href="assets/fonts/fonts.css")
  = '\n'
  <!-- /build -->
